
{% if user.is_authenticated %}

Logged In as {{ user.username }}

<!-- <a href="{ url 'logoutuser' %}">Logout</a> -->
<a href="{% url 'createtodo' %}">Create Todos </a>
<a href="{% url 'welcome' %}">Current Todos </a>
<a href="{% url 'completedtodos' %}">Completed Todos </a>

<form class="" action="{% url 'logoutuser' %}" method="post"> {% csrf_token %}
  <button type="submit">Logout</button>
</form>


{% else %}

<a href="{% url 'signupuser' %}">Sign Up</a>
<a href="{% url 'loginuser' %}">Log In</a>

{% endif %}

{% block content %}{% endblock %}
