{% extends 'todolist/base.html' %}

{% block content %}

{{ error }}
{{ todo.title }} <br>


<form method="POST"> {% csrf_token %}

  {{ form.as_p }}
  <button type="submit" name="button">Save</button>
</form>

<form class="" action="{% url 'completetodo' todo.id %}" method="post">{% csrf_token %}
  <button type="submit" name="button">Complete Task</button>
</form>

<form class="" action="{% url 'deletetodo' todo.id %}" method="post">{% csrf_token %}
  <button type="submit" name="button">Delete Task</button>
</form>


{% endblock %}
